$primary-color: #212121;
$focus-color: #3874cb;
$border-color: #c4c4c4;
$background-white: #ffffff;
$background-filled: #f0f0f0;
$label-color: #666666;

.selectGroup {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
  color: #212121;

  &.outlined {
    .select {
      padding: 16px 32px 16px 14px;
      border: 1px solid $border-color;
      border-radius: 5px;
      background-color: transparent;
      height: 52px;

      &:hover {
        border-color: $primary-color;
      }

      &.focus {
        border: 2px solid $focus-color;
      }

      &.focus + .label, &.valid + .label {
        top: -7px;
      }
    }

    .label {
      top: 16px;
      left: 10px;
      background-color: $background-white;
    }
  }

  &.standard {
    .select {
      padding: 20px 24px 5px 0;
      border: none;
      border-bottom: 1px solid $border-color;
      background-color: transparent;
      height: 44px;

      &:hover {
        border-bottom: 2px solid $primary-color;
      }

      &.focus {
        border-bottom: 2px solid $focus-color;
      }

      &.focus + .label, &.valid + .label {
        top: 0;
      }
    }

    .label {
      top: 20px;
      left: -3px;
    }
  }

  &.filled {
    .select {
      padding: 25px 32px 8px 12px;
      border: none;
      border-bottom: 1px solid $border-color;
      border-radius: 5px 5px 0 0;
      background-color: $background-filled;
      height: 52px;

      &:hover {
        border-bottom: 2px solid $primary-color;
      }

      &.focus {
        border-bottom: 2px solid $focus-color;
      }

      &.focus + .label, &.valid + .label {
        top: 8px;
      }
    }

    .label {
      top: 16px;
      left: 10px;
    }
  }
}

.select {
  min-width: 200px;
  width: auto;
  font-size: 1rem;
  appearance: none;
  outline: none;
  color: $primary-color;
  box-sizing: border-box;

  background-image:
          linear-gradient(45deg, transparent 50%, #757575 50%),
          linear-gradient(135deg, #757575 50%, transparent 50%);
  background-position:
          calc(100% - 20px) calc(1em + 6px),
          calc(100% - 15px) calc(1em + 6px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;

  &.focus {
    background-image:
            linear-gradient(135deg, transparent 50%, #757575 50%),
            linear-gradient(45deg, #757575 50%, transparent 50%);
  }

  &.focus + .label {
    color: $focus-color;
  }

  &.focus + .label, &.valid + .label {
    transform: scale(0.75);
  }
}

.label {
  position: absolute;
  font-size: 1rem;
  background-color: transparent;
  padding: 0 4px;
  transition: 0.2s ease;
  transform-origin: top left;
  pointer-events: none;
  color: $label-color;
}

.helperText {
  color: $label-color;
  font-size: 0.75rem;
  padding: 3px 14px 0;
}
