$primary-color: #212121;
$focus-color: #3874cb;
$border-color: #c4c4c4;
$background-white: #ffffff;
$background-filled: #f0f0f0;
$label-color: #666666;
$disabled-color: #d9d9d9;
$error-color: #c54942;

@mixin small-size($pt, $pr, $pb, $pl, $height, $top) {
  &.small {
    padding: $pt $pr $pb $pl;
    height: $height;

    &.focus + .label, &.valid + .label {
      top: $top;
    }
  }
}

.selectGroup {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
  color: #212121;

  &.outlined {
    .select {
      padding: 16px 20px 16px 14px;
      border: 1px solid $border-color;
      border-radius: 5px;
      background-color: transparent;
      height: 52px;

      @include small-size(8px, 20px, 8px, 14px, 36px, -7px);

      &.small + .label {
        top: 10px;
      }

      &:hover {
        border-color: $primary-color;
      }

      &.focus {
        border: 2px solid $focus-color;
      }

      &.focus + .label, &.valid + .label {
        top: -7px;
      }
    }

    .label {
      top: 16px;
      left: 10px;
      background-color: $background-white;
    }

    &.disabled {
      .select {
        border-color: $disabled-color;

        &:hover {
          border-color: $disabled-color;
        }
      }
    }
  }

  &.standard {
    .select {
      padding: 20px 20px 5px 0;
      border: none;
      border-bottom: 1px solid $border-color;
      background-color: transparent;
      height: 44px;

      @include small-size(1px, 20px, 5px, 0, 25px, -13px);

      &.small + .label {
        top: 0;
      }

      &:hover {
        border-bottom: 2px solid $primary-color;
      }

      &.focus {
        border-bottom: 2px solid $focus-color;
      }

      &.focus + .label, &.valid + .label {
        top: 0;
      }
    }

    .label {
      top: 20px;
      left: -3px;
    }

    &.disabled {
      .select {
        border-color: $disabled-color;

        &:hover {
          border-bottom: 1px solid $disabled-color;
        }
      }
    }
  }

  &.filled {
    .select {
      padding: 20px 20px 15px 12px;
      border: none;
      border-bottom: 1px solid $border-color;
      border-radius: 5px 5px 0 0;
      background-color: $background-filled;
      height: 52px;

      @include small-size(23px, 20px, 15px, 12px, 48px, 8px);

      &:hover {
        border-bottom: 2px solid $primary-color;
      }

      &.focus {
        border-bottom: 2px solid $focus-color;
      }

      &.focus + .label, &.valid + .label {
        top: 8px;
      }

      .inputText {
        padding-top: 10px;
      }
    }

    .label {
      top: 16px;
      left: 10px;
    }

    &.disabled {
      .select {
        border-color: $disabled-color;

        &:hover {
          border-bottom: 1px solid $disabled-color;
        }
      }
    }
  }
}

.select {
  min-width: 200px;
  width: auto;
  font-size: 1rem;
  appearance: none;
  outline: none;
  color: $primary-color;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  &.focus {
    .inputIcon {
      transform: rotate(180deg);
    }
  }

  &.focus + .label {
    color: $focus-color;
  }

  &.focus + .label, &.valid + .label {
    transform: scale(0.75);
  }
}

.inputText {
  flex: 1 1 auto;
}


.inputIcon {
  transition: 0.2s ease;

  &.disabled {
    color: $disabled-color;
  }
}

.label {
  position: absolute;
  font-size: 1rem;
  background-color: transparent;
  padding: 0 4px;
  transition: 0.2s ease;
  transform-origin: top left;
  pointer-events: none;
  color: $label-color;

  &.disabled {
    color: $disabled-color;
  }
}

.helperText {
  color: $label-color;
  font-size: 0.75rem;
  padding: 3px 14px 0;

  &.disabled {
    color: $disabled-color;
  }
}
