.modal, .overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px;
  background-color: #ffffff;
  border: 2px solid #000000;
  width: 400px;
}