$primary-color: #212121;
$focus-color: #3874cb;
$border-color: #c4c4c4;
$background-white: #ffffff;
$background-filled: #f0f0f0;
$label-color: #666666;
$disabled-color: #aeaeae;
$disabled-border: #bdbdbd;
$disabled-background: #e0e0e0;
$error-color: #c54942;

.wrapper {
  display: flex;
  flex-direction: column;
}

.field {
  position: relative;
  font-size: 1rem;
  width: fit-content;
  min-width: 200px;
  box-sizing: border-box;
  height: fit-content;

  &.disabled {
    border-color: $disabled-border;
    color: $disabled-color;
  }

  &.outlined {
    padding: 16px 14px;
    border: 1px solid $border-color;
    border-radius: 5px;
    background-color: transparent;
    min-height: 52px;

    &:hover {
      border-color: $primary-color;
    }

    &.error, &.focused.error {
      border-color: $error-color;
    }

    &.focused {
      border: 2px solid $focus-color;
    }

    &.disabled:hover {
      border-color: $disabled-color;
    }
  }

  &.filled {
    padding: 25px 12px 8px;
    border: none;
    border-bottom: 1px solid $border-color;
    border-radius: 5px 5px 0 0;
    background-color: $background-filled;
    min-height: 52px;

    &:hover {
      border-bottom: 2px solid $primary-color;
    }

    &.error, &.focused.error {
      border-color: $error-color;
    }

    &.focused {
      border-bottom: 2px solid $focus-color;
    }

    &.disabled {
      background-color: $disabled-background;
    }

    &.disabled:hover {
      border-bottom: 1px solid $disabled-color;
    }
  }

  &.standard {
    padding: 15px 0 5px;
    border: none;
    border-bottom: 1px solid $border-color;
    background-color: transparent;
    min-height: 44px;

    &:hover {
      border-bottom: 2px solid $primary-color;
    }

    &.error, &.focused.error {
      border-color: $error-color;
    }

    &.focused {
      border-bottom: 2px solid $focus-color;
    }

    &.disabled:hover {
      border-bottom: 1px solid $disabled-color;
    }
  }
}

.input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  padding: 0;
  width: 100%;
  resize: none;
}

.helperText {
  color: $label-color;
  font-size: 0.75rem;
  padding: 3px 14px 0;

  &.disabled {
    color: $disabled-color;
  }

  &.error {
    color: $error-color;
  }
}